[Desktop Entry]
Name=WiFi Toggle
Comment=Toggle WiFi On/Off
Exec=python3 /home/linux/wifi-switch.py
Icon=network-wireless
Terminal=false
Type=Application
Categories=Utility;System;
